* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFFF04;
    --secondary-color: #1FAF38;
    --third-color: #146e23;
    --text-color: #FFFFFF;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: red;
}

/* Navbar */
#navbar {
    background-color: var(--primary-color);
}

.navbar-brand img {
    height: 81px;
}

.nav-link {
    color: var(--secondary-color) !important;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--third-color) !important;
}
.navbar > .container > .navbar-toggler {
   
    background-color: var(--secondary-color);
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Altura total da viewport */
    position: relative;
    overflow: hidden; /* Para evitar que a imagem ultrapasse os limites */
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}

.description {
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: center;
}

.logo-hero {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

/* Shift */
.shift {
    background-color: var(--primary-color);
    padding: 20px 0;
}

/* Contato */
.contato {
    background-color: var(--secondary-color);
    padding: 20px 0;
    text-align: center;
}

.map {
    width: 100%;
    height: 300px;
    border-radius: 25px;
    margin-top: 20px;
}

/* Footer */
footer {
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: center;
}

/* Responsividade */
@media (min-width: 768px) {
    .hero {
        flex-direction: row;
    }

    .image-container {
        width: 50%;
    }

    .description {
        width: 50%;
        padding: 40px;
    }

    .logo-hero {
        height: 300px;
        width: 300px;
    }

    .map {
        width: 600px;
        height: 450px;
    }
}